$mycolour:#005Dff;
$usedcolour:#40e0d0;
$transform:uppercase;
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');